<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" > 
<suite name="DPC" allow-return-values="true" verbose="2">
	<test name="Grouping" preserve-order="true">
		<packages>			
			<package name="com.desktopWeb.scripts.sprint2"/>
			<package name="com.desktopWeb.scripts.sprint1"/>
			<package name="com.desktopWeb.scripts.page"/>
			<package name="com.desktopWeb.scripts.setting"/>
			<package name="com.desktopWeb.scripts.addUpdate"/>
			<package name="com.desktopWeb.scripts.edit"/>
			<package name="com.desktopWeb.scripts.dashboard"/>
			<package name="com.desktopWeb.scripts.tools"/>
			<package name="com.desktopWeb.scripts.common"/>
		</packages>
	</test>
</suite>